@import "tailwindcss";
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-VariableFont.ttf") format("truetype");
  font-weight: 200 800;
  font-style: normal;
}

body {
  font-family: "Manrope", sans-serif;
}
